.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .active {
  color: gold;
}

.item {

}

.messages {
  padding: 10px;
}

.messages .message {

}

.newMessageBlock {
  
}

.textarea {
  width: 50%;
  height: 70px;
  border: 2px solid salmon;
}

.buttonSend {
  display: block;
  width: 20%;
  height: 30px;
  background-color: skyblue;
}
