.avatar {
  width: 100px;
  height: 100px
}

.selectedPage {
  font-weight: bold;
}

.pagination:hover {
  cursor: pointer;
}

button {
  background-color: rgb(30, 218, 30);
}

button:disabled {
  background-color: indianred;
}
