.navbar {
    grid-area: n;
    background-color: khaki;
    padding: 20px;
}

.list {
    list-style-type: none;
}

.item a{
    text-decoration: none;
    color: rebeccapurple;
}

.item a.active {
    color: gold;
}